<h1>{{title}}</h1>
<nav>
    <a routerLink="/signup" *ngIf="!isAuthenticated">Sign up</a>
    <a routerLink="/signin" *ngIf="!isAuthenticated">Sign in</a>
    <a routerLink="/home"   *ngIf="isAuthenticated">Dashboard</a>
    <a routerLink="/heroes" *ngIf="isAuthenticated">Heroes</a>
    <a routerLink="/signin" *ngIf="isAuthenticated">Logout</a>
</nav>

<!-- main app container -->
<div class="jumbotron">
    <div class="container">
        <div class="col-sm-8 col-sm-offset-2">
            <alert></alert>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<!-- credits -->
<div class="text-center">
    <p>
        <a href="http://comics-store.com" target="_top">comics-store.com</a>
    </p>
</div>
